{
  "actions": {
    "Click": "nextScene",
    "DblClick": ["changeTo", "Face New"],
    "Hold": ["changeTo", "Top New"]
  },
  "properties": {
    "scenes": [
      "Top New",
      "Side View"
    ],
    "mainScene": "Top New"
  }
}
